*{
    margin: 0%;
    padding: 0%;
}

main{
    background-color: #1f2937;
    height: 23rem;
    width: 100vw;
    display:grid;
    justify-content: center;
    align-items: center;
}
.intro-div{
    height: 21rem;
    width: 22rem;
    display: grid;
    justify-content:center;
    align-items: center;
}
#name{
    color: white;
    font-size: 2.5rem;
    
    
}
#prof{
    color: #8e9195;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2.5rem;

}
img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-left: 2.5rem;
}
#workBtn{
    width: 7rem;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: rgb(40, 55, 215);
    color: white;
    border: 2px solid white;
    margin-left: 5rem;
    padding: 0.5rem;
    cursor: pointer;
    

}
/* about section */
.pg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.5rem;
    width: 100vw;
}
#about-me{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 33rem;
    height: 10rem;
    margin-left: 3rem;
    
}
#h2-abtme{
    width: 10rem;
    margin-left: 11.5rem;
}
#about-me p{
    height: 5rem;
    line-height: 1.9;
    width: 33rem;
    text-align: center;
    font-family: sans-serif;

}
/* skill section */
#skills{
    display: grid;
    justify-content: center;
    align-items:first baseline;
    height: 100vh;
    width: 100vw;
}
#skill-div{
    display: grid;
    height: 10rem;
    width:fit-content;
    margin-top: 3rem;
    margin-left: 17rem;

}
#skill-div h1 {
    width: fit-content;
    height: fit-content ;
    justify-self: center;
}
#lang-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.8rem;
    width: 23rem;
}
#lang-div .lang{

    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e4e6;
    border-radius: 35%;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;

}
/* project part */
#prj-div{
    height: 25rem;
    width: 59rem;
    display: grid;
    justify-content: center;
    background-color: #e3e4e6;
    border-radius: 20px;
}
#prj-div h1{
    margin-top: 2rem;
    justify-self: center;

}
#prj-sec{
    width: 59rem;
    display: flex;
    justify-content: space-evenly;
}
#prj-sec .prj{
    background-color: aliceblue;
    width: 15rem;
    height: 16rem;
    border-radius: 25px;
}
#prj-sec h2{
    margin: 0;
    justify-self: center;

}
#amazon-div{
    height: 10rem;
    width: 11rem;
    background-image: url("amazon.png");
    background-size: cover;
    border-radius: 15px;
    display: flex;
    justify-self: center;
    margin-top: 0.5rem;
   
}
.click{
    display: grid;
    justify-content: center;
    margin-top: 0.8rem;
    
}
.click p{
    font-size:medium;
    margin-top: 0.2rem;
}

.click a{
    text-decoration: none;
    background-color: rgb(189, 193, 189);
    font-size: 1.1rem;
    border-radius: 25rem;
    width: 4.3rem;                                  
    display: flex;
    justify-content: center;    
    margin-left: 0.8rem;
}

/* Contact section */
#contact{
    height: 100vh;
    width: 100vw;
    display: grid;
}
#copyright{
    height: 25vh;
    width: 100vw;
    display: grid;
    align-self: end;
    background-color: #1f2937;
}
#paragraph{
    color: rgb(207, 205, 205);
    justify-self: center;
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;

}
#contact-sec{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    width: 60vw;
    height: 60vh;
    border-radius: 25px;
    justify-self: center;
    margin-top: 2rem;

}
#header-contact{
    display: grid;
    align-self: flex-start;
    margin-top: 1rem;

}
.msg{
    height: 10rem;
    width: 10rem;
    border: 2px solid black;
    display: grid;
    justify-self:left;
}
#msg-div{
    width: 1010rem;
    display: flex;
    justify-content: space-between;
}

.icons{

    font-size: 3rem;
    color: black;
}


